* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* TEMP STYLING */
  border: 1px dashed green;
}

.heroContainer, .footerContainer {
  background-color: #1F2937;
}

.quoteContainer {
  background-color: #E5E7EB;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}