* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* TEMP STYLING */
  border: 1px dashed green;
}

